@use '../../../../styles/mixins';

.about {
  @include mixins.flex-row(0, $align: flex-start);
  padding: 0;
  height: 100%;

  .about_nav {
    width: 35%;
    @include mixins.flex_column(2rem);
    padding: 2.5rem;
    // border-right: 1px solid var(--border-color);

    .menu_link {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .active_link {
      color: var(--red-main);
    }
  }

  .about_content {
    width: 100%;
    border-left: 1px solid var(--border-color);
    @include mixins.flex_column(2rem);
    padding: 2.5rem;

    // padding: 2rem ;
  }
}
