@use '../../../../styles/mixins';

.about {
  @include mixins.flex-row(0, $align: flex-start);
  padding: 0;
  height: 100%;

  > * {
    padding: 2rem;
  }

  .about_nav {
    width: 35%;
    @include mixins.flex_column(2rem);
    // border-right: 1px solid var(--border-color);

    .menu_link {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .active_link {
      color: var(--red-main);
    }
  }

  //   .vert_line{
  //     width: 2px;
  //     height: 100%;
  //     border: 1px solid var(--border-color);
  //     color: black;
  //     padding: 0;
  //     margin-left: 2px;
  //   }

  .about_content {
    width: 100%;
    border-left: 1px solid var(--border-color);
    @include mixins.flex_column(3rem);

    // padding: 2rem ;

    .content_item {
      width: 100%;
      @include mixins.flex-column(2rem, $align: flex-start);

      .add_row {
        @include mixins.flex-row(1rem);
        color: var(--red-main);
        font-size: 1.8rem;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }

      .subItem_row {
        width: 100%;
        @include mixins.flex-row(1rem, space-between);

        .subItem_left {
          @include mixins.flex-row(2rem);
          font-size: 1.8rem;
        }
        .subItem_right {
          @include mixins.flex-row(2rem);
          font-size: 2.2rem;
          color: var(--color-secondary);

          > * {
            cursor: pointer;
          }
        }
      }
    }

    .detail_input {
      width: 100%;
      margin-top: -1rem;

      input,
      textarea,
      select {
        width: 100%;
        border-radius: 1rem;
        outline: none;
        padding: 1.25rem;
        font-size: 1.8rem;
        font-family: inherit;
        margin-bottom: 1rem;
        background-color: var(--bg-secondary);
        border: 2px solid var(--red-main);
      }
      textarea {
        resize: none;
      }
      .buttons {
        @include mixins.flex-row(1rem, $justify: flex-end);

        button {
          width: 15%;
          &:disabled {
            background: #ccc;
          }
        }
      }
    }
  }
}
