header {
  position: fixed;
  top: 0;
  height: 5.6rem;
  z-index: 99;
  background: var(--bg-primary);
  width: 100%;
  box-shadow: 1px 8px 15px -7px var(--shadow-2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-primary);
}

/*---Header left-----*/
.header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 5px 1rem;


  .circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-forth);
  padding: 1rem 32px 1rem 1rem;
  border-radius: 5rem;
  cursor: text;

  input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 15px;
    font-family: inherit;
  }

  input::placeholder {
    transform: translateY(-1px);
  }
}

/*---Search menu-----*/
.search_area {
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  min-height: 40rem;
  max-height: 70vh;
  padding: 8px 16px 1rem 6px;

  .search {
    padding: 1rem 44px 1rem 12px;
    width: 252px;
    gap: 4px;

    input {
      padding-left: 4px;
    }

    input::placeholder {
      transform: translateY(-2px);
    }

    input:focus::placeholder {
      transform: translateY(-1px);
    }

    svg {
      transform: translateY(1px);
    }
  }
}

.search_wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search_history {
  width: 100%;
}
.search_history_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 14px;

  span {
    font-weight: 600;
    font-size: 16px;
  }

  a {
    cursor: pointer;
    color: var(--blue-color);
  }
}
/*---Search menu-----*/
/*---Header left-----*/

/*---Header middle-----*/
.header_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  // transform: translateX(3px);
}
.middle_icon {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 12.5rem;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0;
}

.middle_notification {
  position: absolute;
  top: 0.3rem;
  background: #e41e3f;
  border-radius: 5rem;
  padding: 0.1rem 0.25rem;
  font-size: 1.3rem;
  color: #fff;
}
/*---Header middle-----*/

/*---Header right-----*/
.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile_link {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 1rem;
  // line-height: 19px;

  img {
    width: 2.87rem;
    height: 2.87rem;
    border-radius: 50%;
    border: 1px solid #b0b3b8;
  }
}

.circle_icon {
  position: relative;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
  background: var(--bg-third);
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem;
    // fill: var(--color-primary);
  }
}

.right_notification {
  position: absolute;
  top: -0.6rem;
  right: -0.5rem;
  background: #e41e3f;
  border-radius: 5rem;
  padding: 0.1rem 0.6rem;
  font-size: 1.3rem;
  color: #fff;
}

/*---Search All Menu-----*/
.all_menu {
  position: absolute;
  right: -9rem;
  top: 4.5rem;
  background: var(--bg-secondary);
  border-radius: 1rem;
  height: 90vh;
  width: 575px;
  padding: 1rem;
  box-shadow: -2px 1px 5px 2px var(--shadow-1);
  user-select: none;
}
.all_menu_header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.all_menu_wrap {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 1rem;
  overflow-y: auto;
  height: 95%;
}

.all_left {
  background: var(--bg-primary);

  border-radius: 1rem;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.all_menu_search {
  background: var(--bg-secondary);

  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  border-radius: 5rem;
}
.all_menu_search input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 15px;
}
.all_menu_group {
  margin-top: 1rem;
  border-bottom: 1px solid #ced0d4;
}
.all_menu_group_header {
  font-weight: 600;
  font-size: 16px;
  padding: 1rem 0;
}
.all_menu_group {
  width: 100%;
}
.all_menu_item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 1rem;
}

.all_menu_item img {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}
.all_menu_col {
  display: flex;
  flex-direction: column;
}
.all_menu_col span:first-of-type {
  font-size: 14px;
  font-weight: 500;
}
.all_menu_col span:last-of-type {
  font-size: 12px;
  color: #65676b;
  width: 95%;
}
.all_right {
  padding: 1.5rem 1rem;
  background: var(--bg-primary);
  margin-right: 1rem;
  border-radius: 1rem;
  right: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.all_right_header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.all_right_item {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 1rem;
  border-radius: 1rem;
  margin-bottom: 2px;
}

.all_right_circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-third);
}
/*---Search All Menu-----*/

/*-------User menu----*/
.user_menu {
  position: absolute;
  top: 115%;
  right: 0.8rem;
  // margin-right: 1.5rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  // gap: 0.5rem;

  border-radius: 1rem;
  background: var(--bg-primary);
  user-select: none;
  padding: 1.5rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.1rem var(--shadow-1);

    .header_link {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 0.5rem;
      // border-radius: 1rem;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    .vert_line {
      height: 2px;
      width: 95%;
      margin: 0 auto;
    }
    .see_all_span {
      color: var(--blue-color);
      font-size: 1.5rem;
      font-weight: 650;
    }
  }

  .mmenu_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mmenu_col span:first-of-type {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .mmenu_col span:last-of-type {
    font-size: 14px;
  }
  .mmenu_main {
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .mmenu_splitter {
    width: 100%;
    height: 1px;
    background: var(--bg-third);
    margin-top: 5px;
  }
  .mmenu_span1 {
    font-size: 14px !important;
  }
  .mmenu_span2 {
    font-size: 12px !important;
    color: var(--color-secondary);
  }
  .mmenu_item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-top: 5px;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 1rem;

    span {
      white-space: nowrap;
    }
  }

  .menu_icon {
    width: 100%;
    // color: red;
  }
  .rArrow {
    margin-left: auto;
  }

  .absolute_wrap {
    padding: 0 0.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 36rem;
    height: fit-content;
    border-radius: 1rem;
    background: var(--bg-primary);
    box-shadow: 2px 2px 2px var(--shadow-1);
    user-select: none;
    padding: 1rem;
  }
  .absolute_wrap .mmenu_item {
    margin-top: 0;
  }
  .absolute_wrap_header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 24px;
  }

  .absolute_wrap label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
  }
  .absolute_wrap label input {
    width: 2rem;
    height: 2rem;
  }
}

/*-------User menu----*/
/*---Header right-----*/

/*---responsive----------*/
@media (max-width: 1295px) {
  .middle_icon {
    width: 9rem;
  }
}
@media (max-width: 1130px) {
  .middle_icon {
    width: 7rem;
  }
}
@media (max-width: 1040px) {
  .search1 {
    width: 4rem;
    height: 4rem;
    padding: 0;
    justify-content: center;
  }
  .search1 input {
    display: none;
  }
  .header_middle {
    transform: translateX(-15%);
  }
}
@media (max-width: 945px) {
  .header_middle {
    transform: translateX(-22%);
  }
}
@media (max-width: 850px) {
  .header_middle {
    transform: translateX(-30%);
  }
  .middle_icon:nth-child(5) {
    display: none;
  }
}
@media (max-width: 770px) {
  .header_middle {
    transform: translateX(-37%);
  }
  .middle_icon:nth-child(4) {
    display: none;
  }
}
@media (max-width: 720px) {
  .middle_icon:nth-child(3) {
    display: none;
  }
}
/*---responsive----------*/
@media (max-width: 620px) {
  .profile_link {
    display: none;
  }
  .all_menu {
    width: 485px;
  }
  .all_left {
    width: 25rem;
  }
}
@media (max-width: 550px) {
  .middle_icon:nth-child(1) {
    display: none;
  }
  .header_middle {
    transform: translateX(-20%);
  }
}
@media (max-width: 505px) {
  .all_menu {
    width: 34rem;
    right: -9rem;
  }
  .all_menu_wrap {
    grid-template-columns: 1fr;
  }
  .all_left {
    width: 100%;
  }
  .all_right {
    position: relative;
    width: 100%;
    padding-left: 3rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 400px) {
  .header_right .circle_icon:nth-child(3) {
    display: none;
  }
  .user_menu {
    width: 34rem;
  }
  .all_menu {
    left: -12.5rem;
  }
}
/*---responsive----------*/
