@use '../../styles/mixins';

.login_wrapper {
  @include mixins.flex-column(1.6rem, space-around, center);
  min-height: 90vh;
  padding: 0 2rem 10rem;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .login_wrapper {
    flex-direction: row;
  }
}
