// @use '../../../../styles/mixins';
@use '../../../../styles/mixins';

// Colors
$label-colour: #bbb;
$disabled-colour: #ddd;
$toggle-colour: var(--red-main);
$white: #fff;
$focus-color: #ff0;

.toggle-switch {
  @include mixins.flex-center(0);
  width: 6rem;
  // display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &-checkbox {
    display: none;
  }

  &-label {
    @include mixins.flex-center(0, $justify: flex-start);
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    height: 90%;
    background: $label-colour;
  }

  &-disabled {
    background-color: $disabled-colour;
    cursor: not-allowed;
    &:before {
      background-color: $disabled-colour;
      cursor: not-allowed;
    }
  }

  &-switch {
    box-shadow: 1px 1px 0.5px 0.1px var(--color-secondary);
    margin: 0.75rem;
    background: $white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 80%;
    border: 0 solid $label-colour;
    transition: all 0.9s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    background-color: $toggle-colour;
    justify-content: flex-end;
    .toggle-switch-label {
      background-color: $toggle-colour;
    }
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      // right: 0px;
      // background-color: red;
      // color: red;
    }
  }

  @media screen and (max-width: 991px) {
    transform: scale(0.9);
  }
  @media screen and (max-width: 767px) {
    transform: scale(0.825);
  }
  @media screen and (max-width: 575px) {
    transform: scale(0.75);
  }
}
