@use '../../../styles/mixins';

.left_home {
  


  & > * {
    padding: 0.7rem;
    width: 100%;
  }

  & > *:hover {
    background: var(--bg-third);
  }

  .vert_line {
    padding: 1px;
    margin: 1rem;
    height: 2px;
  }

  span {
    white-space: nowrap;
  }
}

.left_home:last-child {
  margin-top: auto;
}

.left_home div:last-of-type {
  margin-top: auto;
}

.left_link {
  @include mixins.flex-row(0.8rem);
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;

  // margin-bottom: 0.3rem;

  img {
    @include mixins.circle(3.6rem);
  }

  span {
    margin-bottom: 0.4rem;
    margin-left: 0.1rem;
  }
}

.col {
  margin-left: 2px;
  transform: translateY(-2px);
}
.col_1 {
  transform: translateX(-1px);
}
.col_2 {
  position: relative;
  font-size: 12px;
  color: var(--blue-color);
  margin-left: 9px;
  margin-top: 2px;
  font-weight: normal;
}
.col_2::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--blue-color);
  position: absolute;
  left: -1rem;
  bottom: 2px;
}

.rotate360 {
  transform: rotate(180deg);
}

.shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;

  heading {
  }

  &:hover .edit_shortcut {
    display: block;
  }
}

.edit_shortcut {
  font-size: 14px;
  color: var(--blue-color);
  display: none;

  cursor: pointer;
}

.shortcut_item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.5rem 0;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    object-fit: cover;
  }

  span {
    margin-bottom: 3px;
  }
}

.fb_copyright {
  margin-top: 2rem;
  font-size: 12px;
  color: var(--color-secondary);
  // max-width shoud be the length of largest sibling. not sure how to do that.
  max-width: 15rem;
  // flex-grow: 0.5;
  // width: 0;

  a {
    display: inline-block;
  }
}

@media (max-width: 620px) {
  .left_home {
    display: none;
  }
}
