@use '../../styles/mixins';

.profile {
  .header {
    position: sticky;
    top: 0;
  }
}

.profile_container {
  width: 100%;
  height: 100%;
  max-width: 110rem;
  margin: 0 auto;
}

.profile_top {
  background: linear-gradient(to bottom, #ff5b5b, white 50%);
  //   height: 90vh;
  width: 100%;

  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.4);

  .top_container {
    // border: 1px solid orange;
    background: white;

    .cover_photo {
      position: relative;
      height: 40.5rem;

      border: 1px solid orange;

      background: pink;

      .edit_cover_btn {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }
    }

    .top_lower {
      padding: 0 4rem;
      //   background: pink;
      //   height: 100%;

      .name_row {
        @include mixins.flex-row(1rem, space-between);
        border-bottom: 1px solid var(--border-color);

        .name_row_right {
          @include mixins.flex-row(1rem);

          .prof_image_wrap {
            position: relative;
            transform: translateY(-3rem);

            img {
              // border: 0.4rem solid pink;
              border: 0.4rem solid white;
            }

            .prof_icon_wrapper {
              @include mixins.circle(4rem);
              @include mixins.flex-center();

              position: absolute;
              right: 1rem;
              bottom: 1rem;

              background: var(--bg-forth);
            }
          }

          .name_and_friends {
            @include mixins.flex-column(0, space-between);

            .friends_gallery {
              @include mixins.flex-row(0);
            }
          }
        }

        .name_row_left {
          @include mixins.flex-row(1rem);
        }
      }

      .menu_row {
        @include mixins.flex-row(0, space-between);

        .meu_wrapper {
          @include mixins.flex-row();

          .menu_item {
            //   background: pink;
            font-weight: 600;

            .link {
              padding: 1.5rem;
            }

            .active_link {
              border-bottom: 2px solid var(--red-color);
              color: var(--red-color);
            }
          }
        }
      }
    }
  }
}

.profile_bottom {
  background: var(--bg-forth);
  width: 100%;

  padding: 1.5rem 4rem;

  

  .profile_posts {
    // @include mixins.flex-row(2rem, $align: start);
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 2rem;

    & > * {
      // width: 100%;
      @include mixins.flex-column(0, start);

      & > * {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .name_row,
  .name_row_right {
    flex-direction: column;
  }
}
