@use '../../styles/mixins';



.profile {
  @include mixins.flex-column(0);
  min-height: 100vh;

  .header {
    position: sticky;
    top: 0;
  }
}

.profile_container {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.profile_top {
  background: linear-gradient(to bottom, #ff5b5b, var(--bg-primary) 60%);
  // background: green;
  width: 100%;

  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.4);

  .top_container {
    background: white;

    .cover_photo {
      position: relative;
      background-color: var(--bg-primary);

      img {
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .edit_cover_btn {
        background-color: var(--bg-primary);
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }
    }

    .top_lower {
      padding: 0 4rem;
      background-color: var(--bg-primary);

      .name_row {
        @include mixins.flex-row(1rem, space-between);
        border-bottom: 1px solid var(--border-color);

        .name_row_right {
          @include mixins.flex-row(1rem);

          .prof_image_wrap {
            position: relative;
            transform: translateY(-3rem);

            img {
              border: 0.4rem solid white;
            }

            .prof_icon_wrapper {
              @include mixins.circle(4rem);
              @include mixins.flex-center();

              position: absolute;
              right: 1rem;
              bottom: 1rem;

              background: var(--bg-fourth);
            }
          }

          .name_and_friends {
            @include mixins.flex-column(0, space-between);

            .friends_gallery {
              @include mixins.flex-row(0);

              .friend:not(:first-child) {
                margin-left: -0.7rem;
                // transform: translateX(-0.7rem);
              }

              img {
                border: 2px solid white;
              }
            }
          }
        }

        .name_row_left {
          @include mixins.flex-row(1rem);

          > button {
            font-size: 1.8rem;
          }

          position: relative;
          // .request_dropdown_wrapper {
          // }

          .request_dropdown {
            @include mixins.flex-column(1rem);
            position: absolute;
            top: 5rem;
            // right: 0;
            padding: 1rem;
            min-width: fit-content;
            width: 15rem;

            .dropdown_item {
              @include mixins.flex-row(1rem);
              // font-size: 2rem;

              p {
                white-space: nowrap;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .menu_row {
        @include mixins.flex-row(0, space-between);

        .menu_wrapper {
          @include mixins.flex-row();

          .menu_item {
            font-weight: 600;

            .link {
              padding: 1.5rem;
            }

            .active_link {
              border-bottom: 2px solid var(--red-main);
              color: var(--red-main);
            }
          }
        }
      }
    }
  }
}

.profile_bottom {
  @include mixins.flex-column(1rem);
  // background-color: var(--bg-primary);
  width: 100%;
  padding: 1.5rem 4rem;


  .profile_posts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 2rem;

    & > * {
      @include mixins.flex-column(0, flex-start);

      & > * {
        width: 100%;
      }
    }
  }
}

// used in About and EditDatailModal

.content_item {
  @include mixins.flex-column(1.25rem, $align: flex-start);
  width: 100%;

}
.content_subitem {
  width: 100%;
  @include mixins.flex-column(0.75rem, $align: flex-start);

  .add_row {
    @include mixins.flex-row(1rem);
    color: var(--red-main);
    font-size: 1.8rem;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }

  .subItem_row {
    width: 100%;
    @include mixins.flex-row(1rem, space-between);

    .subItem_left {
      @include mixins.flex-row(2rem);
      font-size: 1.8rem;

      img {
        width: 2rem;
        height: 2rem;
        filter: var(--icon-invert)
      
      }
    }
    .subItem_right {
      @include mixins.flex-row(2rem);
      font-size: 2.2rem;
      color: var(--color-secondary);

      > * {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .profile_top .top_container .top_lower .name_row {
    flex-direction: column;
    padding-bottom: 2rem;
    .name_row_right {
      flex-direction: column;
      gap: 0;

      .prof_image_wrap {
        transform: none !important;
      }
    }
  }

  .cover_photo {
    margin-bottom: -3rem;
  }

  .profile_bottom {
    .profile_posts {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
