@use './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.app {
  background: var(--bg-secondary); // Mo dont have this
  color: var(--color-primary); // Mo dont have this
  
  textarea, input {
    color: var(--color-primary); // Mo dont have this

  }

  ul {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  // Is this standard to put in index.css? a is inline by default, sp doesn't effect layout vertically (gives probelems with padding eg)
  display: inline-block;
}

select {
  font-size: 1.6rem;
  color: var(--color-primary);
  background: var(--bg-primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.developing_page {
  @include mixins.flex-center();
  height: 90vh;
}

.text_input {
  outline: none;
  background: var(--bg-secondary);
  width: 100%;
  height: 5.2rem;
  padding: 1.4rem 1.6rem;
  border-radius: 0.7rem;
  border: 1px solid var(--border-color);
  font-size: 1.7rem;
  // color: var(--color-primary);

  .error {
    border: 2px solid var(--color-error-1);
  }

  .auto_with {
    width: auto;
  }
}

.card_main {
  width: 100%;
  // padding: 1rem 1.5rem;
  padding: 2.5rem;
  margin: 0.5rem 0;
  // padding: 1rem 0;
  background: var(--bg-primary);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  .card_header {
    @include mixins.flex-row(0, space-between);
    // border-bottom: 1px solid var(--border-color);
  }

  .card_title {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.blue_link {
  // color: blue;
  color: var(--red-main);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  &:hover {
    background: var(--bg-secondary);
  }
}

.icon_invert {
  filter: invert(40%);
}

:root {
  // mine
  --header-height: 5.6rem;
  --phone: 42rem;
  --tablet: 90rem;
  --desktop: 120rem;
  --icon-invert: invert(40%);

  --red-main: #ff6060;
  --red-dark: #c70000; // Noyt in use yet
  --white-main: #ffe0e0;
  --color-error-1: #1876f2;
  --color-input: #949ea8;
  --border-grey: #ccd0d5;
  --scrollbar: #aeaeafa1;

  // mohammads --------------------------------------------------
  --divider: #ced0d4;
  --blue-color: #1876f2;
  // --red-color2: #FF5757; //same as icon color but we will change icon instead i  canva.
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --light-red-color: #ffe7e7;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-4: rgba(0, 0, 0, 0.4);
  --shadow-inset: rgba(255, 255, 255, 0.5);

  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-fourth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;

  --dark-bg-primary: #242526;
  --dark-bg-secondary: #18191a;
  --dark-bg-third: #3a3b3c;
  --dark-bg-fourth: #f0f2f5;
  --dark-color-primary: #e4e6eb;
  --dark-color-secondary: #b0b3b8;
}

.dark {
  --bg-primary: #242526;
  --bg-secondary: #18191a;
  --bg-third: #3a3b3c;
  --bg-fourth: #3a3b3c; //same as third, not a mistake
  --color-primary: #e4e6eb;
  --color-secondary: #b0b3b8;

  i,
  .nav_link_inactive svg {
    filter: invert(100%);
  }
}

// My stuff -------------------------------------------------------

.welcome_header {
  font-size: 5rem;
  color: var(--red-main);
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}

/*----Buttons----*/
.blue_btn {
  background: var(--blue-color);
  color: #fff;
}
.red_btn {
  background: var(--red-main);
  color: #fff;
}

.gray_btn {
  background: var(--bg-secondary); // change this in dark
  color: var(--color-primary);
}

.btn {
  border: none;
  outline: none;
  padding: 0.85rem 1.2rem;
  // padding: 0 1.6rem;
  border-radius: 0.7rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;

  @include mixins.flex-row(0.6rem, center);
  cursor: pointer;
}

.create_account_btn {
  background: var(--green-color);
  width: auto;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.dotloader_wrapper {
  @include mixins.flex-center();
  height: 100vh;
  width: 100%;
}

.dot_loader {
  @include mixins.flex-center();
}

.vert_line {
  width: 100%;
  height: 1px;
  background: var(--bg-third);
}

.text_btn {
  font-size: 1.8rem;
  font-weight: 500;

  outline: none;
  border: none;
  background: none;
  //   color: var(--color-primary);
  color: var(--color-secondary);

  &:hover {
    cursor: pointer;
  }
}

// My stuff END -------------------------------------------------------

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.768);
  bottom: 0;
  z-index: 99;
}
/*----Buttons----*/

/*-----Hovers-----*/
.hover1:hover {
  background: var(--bg-secondary);
  cursor: pointer;
}
.hover2:hover {
  background: var(--bg-third);
}
.hover3:hover {
  background: #d4d6da3a;
}
/*-----Hovers-----*/

/*----Scrollbar----*/

.scrollbar::-webkit-scrollbar {
  width: 0.8rem;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 0.5rem;
}
/*----Scrollbar----*/

/*---Circles------*/
.small_circle {
  // position: relative;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-third);
  cursor: pointer;

  z-index: 10;
}
/*---Circles------*/
