@use './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: inherit;
  // Is this standard to put in index.css? a is inline by default, sp doesn't effect layout vertically (gives probelems with padding eg)
  display: inline-block;
}

.text_input {
  outline: none;
  background: var(--bg-secondary);
  width: 100%;
  height: 5.2rem;
  padding: 1.4rem 1.6rem;
  border-radius: 0.7rem;
  // border: 1px solid var(--color-primar);
  border: 1px solid var(--border-color);
  font-size: 1.7rem;

  .error {
    border: 2px solid var(--color-error-1);
  }

  .auto_with {
    width: auto;
  }
}

.card_main {
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  // padding: 1rem 0;
  background: var(--bg-primary);

  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  .card_header {
    @include mixins.flex-row(0, space-between);
    // border-bottom: 1px solid var(--border-color);
  }

  .card_title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.blue_link {
  // color: blue;
  color: var(--red-main);

  padding: 0.5rem 1rem;

  border-radius: 1rem;

  &:hover {
    background: var(--bg-secondary);
  }
}

:root {
  // mine
  --header-height: 5.6rem;

  --red-main: #ff6060;
  // Noyt in use yet
  --red-dark: #c70000;

  --white-main: #ffe0e0;

  --color-error-1: #1876f2;
  --color-input: #949ea8;
  --border-grey: #ccd0d5;


  --phone: 42rem;
  --tablet: 90rem;
  --desktop: 120rem;

  // mohammads --------------------------------------------------
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-fourth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  // --red-color2: #FF5757; //same as icon color but we will change icon instead i  canva.
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --light-red-color: #ffe7e7;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-4: rgba(0, 0, 0, 0.4);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

// My stuff -------------------------------------------------------

/*----Buttons----*/
.blue_btn {
  background: var(--blue-color);
  color: #fff;
  // padding: 8.5px 12px;
}
.red_btn {
  background: var(--red-main);
  color: #fff;
  // padding: 0 1.6rem;
}

.gray_btn {
  background: var(--bg-secondary);
  color: #111;
  // padding: 0 1.6rem;
}

.btn {
  border: none;
  outline: none;
  padding: 0.85rem 1.2rem;
  // padding: 0 1.6rem;
  border-radius: 0.7rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  cursor: pointer;

  // padding: 8.5px 12px;
  // padding: 0 1.6rem;
}

.create_account_btn {
  background: var(--green-color);
  width: auto;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.vert_line {
  width: 100%;
  height: 1px;
  background: var(--bg-third);
}

// My stuff END -------------------------------------------------------

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.768);
  bottom: 0;
  z-index: 99;
}
/*----Buttons----*/

/*-----Hovers-----*/
.hover1:hover {
  background: var(--bg-secondary);
  cursor: pointer;
}
.hover2:hover {
  background: var(--bg-third);
}
.hover3:hover {
  background: #d4d6da3a;
}
/*-----Hovers-----*/
// .card {
//   height: 50rem;
//   width: 50rem;
//   background: red;
// }

/*----Scrollbar----*/

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}
/*----Scrollbar----*/

/*---Circles------*/
.small_circle {
  // position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;

  z-index: 10;
}
/*---Circles------*/
