@use '../../styles/mixins';

.home_layout {
  // To use default scrollbar for main, I need to put it in same container as home_right probably.

  height: 100vh;
  
  // height: calc(100vh - 7.5rem); // - header height and padding
  display: grid;
  grid-template-columns: auto minmax(1fr, 80%) auto; // Need to fix this somehow, to give middle a max and prevent sides from expamding - at spme points the gap/space between should expand
  /* grid-template-columns: 1fr; */
  grid-template-rows: var(--header-height) 1fr;
  // gap: 1rem;
  // margin: 0 5rem;
  grid-template-areas:
    'header header header'
    'left main right';
  // 'footer footer footer';
  /* 'header'
    'main'
    'footer'; */

  & > *:not(:first-child) {
    padding-top: 2.5rem;
    background: var(--bg-secondary);
    // width: 100%;
  }

  .header {
    grid-area: header;
    grid-column: 1/4;
    grid-area: header;
  }

  .left_home {
    grid-area: left;
    @include mixins.hideScrollbar;
    @include mixins.flex-column();

    width: 100%;
    user-select: none;

    position: sticky;
    top: 0;

  }

  .main {
    // To use default scrollbar for main, I need to put it in same container as home_right probably.
    grid-area: main;
    @include mixins.hideScrollbar;
    height: 100%;
  }

  .right_home {
    grid-area: right;
    width: 100%;
  }
}

.home_middle {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

@media (max-width: 1295px) {
  .home {
    gap: 0;
  }
}

@media (max-width: 1145px) {
  .home {
    grid-template-columns: auto 2.5fr 1fr;
  }

  .left_home .left_link span,
  .left_home .left_link .col,
  .shortcut,
  .shortcut .heading,
  .shortcut_item span,
  .splitter,
  .fb_copyright {
    display: none;
  }

  // .shortcut {
  //   .heading {
  //     display: none;
  //   }
  // }

  .contact_circle {
    width: 2rem;
  }
}

@media (max-width: 805px) {
  .story_profile_name,
  .story_create_text {
    display: none;
  }

  .left_home::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 715px) {
  .right_home {
    display: none;
  }

  .home {
    // grid-template-columns: auto 1fr;
    grid-template-columns: max-content 1fr;
  }
}

@media (max-width: 620px) {
  .home {
    grid-template-columns: 1fr;
  }

  .stories .white_circle {
    display: none;
  }

  .createPost_icon {
    font-size: 12px;
  }
  .open_post {
    font-size: 16px;
  }
  .createPost_icon svg {
    width: 2rem;
  }
}

@media screen and (max-width: 440px) {
  .createPost_icon {
    font-size: 0px;
  }
}
