@use '../../../../styles/mixins';

.videos {
  @include mixins.flex-column(3rem, space-between);

  .videos_header {
    @include mixins.flex-row(0, space-between);

    .header_right {
      @include mixins.flex-row(2rem);

      span {
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--red-main);
      }
    }
  }

  .videos_nav {
    @include mixins.flex_row(2rem);
    color: var(--color-secondary);

    .menu_link {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .active_link {
      color: var(--red-main);
    }
  }
}
