@use '../../../../styles/mixins';

.friends {
  @include mixins.flex-column(3rem, space-between);

  .friends_header {
    @include mixins.flex-row(0, space-between);
    .search {
      @include mixins.flex-row(0.8rem, center);
      background: var(--bg-fourth);
      padding: 1rem;
      border-radius: 5rem;
      cursor: text;

      input {
        border: none;
        background: transparent;
        font-size: 1.5rem;
        font-family: inherit;
      }
    }

    .header_right {
      @include mixins.flex-row(2rem);

      span {
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--red-main);
      }
    }
  }

  .friends_nav {
    @include mixins.flex_row(2rem);
    color: var(--color-secondary);

    .menu_link {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .active_link {
      color: var(--red-main);
    }
  }
}
