@use '../../../../../styles//mixins';

.intro {
  @include mixins.flex-column(1rem);

  button {
    width: 100%;
  }

  i {
    filter: invert(40%);
  }

  .info_col {
    @include mixins.flex-column(1rem, center);
    width: 100%;
  }

  .textarea_blue {
    width: 100%;
    height: 85px;
    resize: none;
    border-radius: 7px;
    outline-offset: 5px;
    border-color: var(--bg-third);
    padding: 1.1rem;
    font-size: 16px;
    font-family: inherit;
    background: var(--bg-primary);
    color: var(--color-primary);

    &:focus {
      outline-color: var(--red-main);
      border: none;
      // outline-color: pink;
    }

    &:hover {
      border-color: var(--color-secondary);
    }
  }
  .textarea_blue button {
    width: 100%;
  }

  .remaining {
    font-size: 1.2rem;
    color: var(--color-secondary);
    width: 100%;
    text-align: right;
  }

  .actions {
    @include mixins.flex-row(0, space-between);
    width: 100%;
    margin-bottom: 1rem;

    .action_buttons {
      @include mixins.flex-row(1rem);
    }
  }
  .detail_row {
    @include mixins.flex-row(1rem);

    img {
      filter: invert(40%);
    }
  }
}

.edit_details_modal {
  // height: 82vh;
  // width and max-width are temp. max-width is set in modal_type_1 because it is cut from registerModal.
  width: 60vw;
  max-width: none;

  //   --------- Top part ( copied from Registerform) ---------
  .modal_header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1rem 0 1rem;

    .invisible {
      // visibility: hidden;
    }

    .header_text {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .vert_line {
    width: 100%;

    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  //   ------------ Bottom  part --------------------------------------------------
  .modal_middle {
    @include mixins.flex-column(2rem);
    padding: 0 2rem;
    width: 100%;

    position: relative;

    // detailsItem
    .details_item {
      @include mixins.flex-row(1rem);
      width: 100%;

      .icon_plus {
        color: var(--red-main);
        height: 3rem;
        width: 3rem;

        &:hover {
          cursor: pointer;
        }
      }

      .edit_icon {
        margin-left: auto;
      }
    }
  }

  .modal_bottom {
    @include mixins.flex-row(0, space-between);
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
    border-top: 1px solid var(--bg-third);

    span {
      // font-size: 1.6rem;
      font-weight: 600;
      color: var(--red-main);
    }

    .save_cancel_btns {
      @include mixins.flex-row(1rem);

      .save {
        width: 12rem;
      }
    }
  }
}
