@use '../../../styles/mixins';

// child of .post_item

.create_comment {
  @include mixins.flex-column(1rem);
  padding: 1rem 0;

  .comment_input_row {
    @include mixins.flex-row(0.8rem);
    position: relative;
    width: 100%;

    .input_wrap {
      @include mixins.flex-row(0.8rem, space-between);
      background: var(--bg-fourth); // DELETE THIS LINE
      flex-grow: 1;
      border-radius: 3rem;
      padding: 0.8rem 2rem;

      .comment_text_wrapper {
        width: 100%;
      }
    }

    .comment_text {
      // max-width: 100%;
      background: transparent; // DELETE THIS LINE
      border: none;
      outline: none;
      width: 100%;

      font-size: 1.4rem;

      font-family: inherit;
      color: var(--color-secondary);

      &::placeholder {
        color: var(--color-input);
      }
    }

    .emoji_wrapper {
      @include mixins.flex-row(0.8rem, space-between);
    }

    .comment_circle_icon {
      @include mixins.circle(3rem);
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }

  .comment_image_preview {
    @include mixins.flex-row(0.5rem, space-between, start);
    width: 100%;
    // height: 8rem;

    border: 1px solid orange;

    // overflow: hidden;

    .image_grid {
      padding: 1.2rem 0;
      display: grid;
      gap: 0.5rem;
      // grid-template-columns: repeat(6, minmax(1fr, 12rem));
      grid-template-columns: repeat(6, 1fr);
      grid-auto-flow: column;

      .image_wrapper {
        position: relative;

        height: 12rem;

        img {
          // width: 100%;
          border-radius: 5%;
          // width: 10rem;
          width: 100%;
          height: 100%;
          // height: 8rem;
          object-fit: cover;
        }

        .small_circle {
          position: absolute;
          top: -1rem;
          right: -1rem;

          transform: scale(0.8);
        }
      }
    }

    .small_circle {
      @include mixins.circle(2.5rem);
    }
  }
}
