// @use 'styles/mixins';

@use '../../../styles/mixins';

.post_item {
  position: relative;
  margin-bottom: 1rem;

  & > *:not(:nth-child(2)) {
    margin: 0 1.6rem;
  }

  .post_header {
    @include mixins.flex-row(0, space-between);

    .header_left {
      @include mixins.flex-row(1rem, space-between);

      img {
        @include mixins.circle(4rem);
        // padding: 0.5rem 0;
      }

      .privacy_date {
        @include mixins.flex-row(0.5rem, space-between);
      }
    }
  }

  .post_content {
    width: 100%;
    margin: 0;

    .no_background {
      padding: 1rem 1.6rem; 
    }

    .background {
      background-size: cover;
      // set randomly
      height: 30rem;
      @include mixins.flex-center();

      font-size: 2.25rem;
      font-weight: 600;
      color: whitesmoke;
    }

    .post_images_grid {
      display: grid;
      gap: 0.2rem;

      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      max-height: calc(100rem / 3 * 2);
      width: 100%;
      overflow: hidden;

      .grid_item {
        @include mixins.flex-center(0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      // & :first-child {
      //   grid-row: span 2;
      // }
    }

    .grid_1 {
      // grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(auto, 40rem);
    }

    .grid_2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(auto, 40rem);
    }

    .grid_3 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(auto, 40rem) minmax(auto, 20rem);
      grid-template-areas:
        'image1 imag1'
        'image2 imag3';

    

      .image1 {
        grid-area: image1;
        grid-column: 1/3;
        grid-row: span 2;
      }
    }

    .grid_4 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 35rem 20rem;
      grid-auto-flow: dense;
      grid-template-areas:
        'image1 imag1 imag1'
        'image2 imag3 imag4';

      .image1 {
        grid-area: image1;
        grid-column: 1/4;
        width: 100%;
        grid-row: span 2;
      }

      .image4 {
        @include mixins.flex-center(0);
        color: white;
        font-size: 3rem;
        font-weight: 700;
      }
    }
  }

  //   Interactions --------------------------------------------------------------
  .post_interactions {
    @include mixins.flex-row(0, space-between);
    padding: 1rem 0;

    .reactions,
    .shares_comments {
      @include mixins.flex-row(0.5rem, space-between);
    }

    .shares_comments {
      & > *:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .post_actions {
    position: relative;
    @include mixins.flex-row(0, space-between);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    padding: 0.5rem 0;

    & > * {
      @include mixins.flex-row(0.5rem, center);
      width: 100%;
      padding: 0.6rem 2rem;
      border-radius: 1rem;
    }

    .reacts_popup {
      position: absolute;
      top: -5rem;
      width: auto;

      @include mixins.flex-row(0.8rem, center);

      background: var(--bg-primary);
      padding: 5px 15px;
      border-radius: 50px;
      box-shadow: 0 1px 2px var(--shadow-1);
    }
    .react {
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.3);
      }

      img {
        @include mixins.circle(3.8rem);
      }
    }
  }

  .post_comments {
    // @include mixins.flex-column(1rem);
    // padding: 1rem 0;

    .comment_form {
      @include mixins.flex-column(1rem);
      padding: 1rem 0;
    }

    .sorting {
    }

    .create_comment {
      @include mixins.flex-row(0.8rem);
      position: relative;
      z-index: 200;

      width: 100%;

      .input_wrap {
        @include mixins.flex-row(0.8rem, space-between);
        background: var(--bg-forth); // DELETE THIS LINE
        flex-grow: 1;
        border-radius: 3rem;
        padding: 0 2rem;

        .comment_text_wrapper {
          width: 100%;
        }
      }

      .comment_text {
        // max-width: 100%;
        background: transparent; // DELETE THIS LINE
        border: none;
        outline: none;
        width: 100%;

        font-size: 1.4rem;

        font-family: inherit;
        color: var(--color-secondary);

        &::placeholder {
          color: var(--color-input);
        }
      }

      .emoji_wrapper {
        @include mixins.flex-row(0.8rem, space-between);
      }

      .comment_circle_icon {
        @include mixins.circle(3rem);
        display: grid;
        place-items: center;
        cursor: pointer;
      }
    }

    .comment_image_preview {
      @include mixins.flex-row(0.5rem, space-between, start);
      width: 100%;
      // height: 8rem;

      border: 1px solid orange;

      // overflow: hidden;

      .image_grid {
        padding: 1.2rem 0;
        display: grid;
        gap: 0.5rem;
        // grid-template-columns: repeat(6, minmax(1fr, 12rem));
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: column;

        .image_wrapper {
          position: relative;

          height: 12rem;

          img {
            // width: 100%;
            border-radius: 5%;
            // width: 10rem;
            width: 100%;
            height: 100%;
            // height: 8rem;
            object-fit: cover;
          }

          .small_circle {
            position: absolute;
            top: -1rem;
            right: -1rem;

            transform: scale(0.8);
          }
        }
      }

      .small_circle {
        @include mixins.circle(2.5rem);
      }
    }
  }
}
